/*--------------Font Styles--------------*/
@font-face {
  font-family: 'roboto';
  src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
}

/* --------------Document Styles--------------*/
* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  font-family: 'roboto', 'Arial Narrow', Arial, sans-serif;
}

a {
  color: rgba(8, 56, 41, 1);
  text-decoration: none;
  font-weight: 700;
}

ul {
  padding-left: 20px;
  list-style-position: inside;
}

hr {
  border: 2px solid #083829;
  opacity: .6;
}

/* --------------Header Section-------------- */
header {
  display: block;
  position: relative;
  background-color: rgba(247, 244, 233, 1);
  height: 80px;
  width: 100%;
}

nav {
  height: 80px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 80px;
  margin-right: 80px;
  height: 100%;
}

nav a {
  padding: 10px;
}

nav ul li {
  position: relative;
  display: inline;
  padding: 8px;
  font-size: 20px;
  min-width: 180px;
  text-align: center;
}

nav ul li:hover {
  position: relative;
  border-top: 4px solid #083829;
  border-bottom: 4px solid #083829;
  border-radius: 15px;
  border-style: double;
  font-size: 28px;
  transition: font-size .4s, filter .4s;
  padding: 8px 8px;
}

nav ul li:hover~li:nth-child(n + 1),
nav ul li:has(~ li:hover) {
  opacity: .6;
  font-size: 16px;
  transition: all .4s;
}

nav ul li a:active {
  color: rgb(17, 44, 92);
}

#mobileMenu {
  display: none;
  position: absolute;
  width: 100%;
  height: auto;
  top: 45px;
  z-index: 10;
  background-color: white;
}

#mobileMenu li {
  padding: 15px;
  text-align: center;
}



/* --------------Main Content-------------- */
main {
  margin: 20px;
  padding: 15px;
  border-radius: 1em;
  border: 2px solid rgba(0, 0, 0, .2);
  box-shadow: 0px 0px 12.5px 2px rgba(0, 0, 0, 0.2);
  background-color: rgba(8, 56, 41, .9);
}

/* --------------Module Cards-------------- */
.modules .introduction {
  display: block;
  padding: 10px;
  font-family: 'roboto', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 100;
}

.theOpenUniversity {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  justify-content: center;
  align-content: center;
}

.modules {
  position: relative;
  height: 100%;
  max-width: 100%;
  margin: 10px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.8);
}

.modules::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  border-top: 8px solid rgb(102, 70, 22);
  border-image: linear-gradient(to right, rgb(255, 244, 206), rgba(255, 255, 255, 1)) 1;
}

.moduleTitle,
.moduleDescription,
.moduleTopic,
.moduleSkills,
.moduleCredits,
.moduleOCAS,
.moduleOES {
  padding: 10px;
}

.modules h2 {
  display: inline;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'roboto', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

.modules p {
  display: inline;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 100;
  font-family: 'roboto', 'Arial Narrow', Arial, sans-serif;
}

.modules .moduleDescription ul li {
  padding: 10px;
  font-size: 1.2rem;
  font-family: 'roboto', 'Arial Narrow', Arial, sans-serif;
}

.modules ul {
  list-style: disc;
  padding: 10px;
}

.modules ul li {
  font-size: 1.2rem;
  list-style-position: inside;
  font-family: 'roboto', 'Arial Narrow', Arial, sans-serif;
}

.socialMediaLinks {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-height: 80px;
  min-height: 100px;
  max-width: 100%;
  margin: 10px;
  padding: 2px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.8);
  background-color: white;
}

.socialMediaLinks img {
  width: auto;
  height: 50px;
}

.socialMediaLinks img:hover {
  height: 60px;
}





/* --------------Footer Section-------------- */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(247, 244, 233, 1);
  color: white;
  height: auto;
  width: 100%;
  margin-top: auto;
  text-align: center;
  background-color: rgb(54, 1, 122);
}

footer p {
  font-size: 16px;
}


/* --------------Style Classes--------------*/
.hidden {
  display: none;
}

.visibilityHidden {
  opacity: 0%;
}





/* --------------Media Queries-------------- */
/* --------------Landscape Large--------------*/
@media screen and (orientation: landscape) and (max-width: 1366px) {
  svg {
    margin: 0 auto;
  }

  text {
    font-size: 38px;
  }

  p {
    font-size: 24px;
  }

  .socialMediaLinks img {
    width: 70px;
    height: 70px;
  }

  .socialMediaLinks img[alt="LinkedIn Logo"] {
    width: 75px;
    height: 70px;
  }
}

/* --------------Landscape Medium--------------*/
@media screen and (orientation: landscape) and (max-width: 845px) {
  path {
    transform: translate(-56%, -0%);
  }

  text {
    font-size: 38px;
  }

  header {
    height: 45px;
  }

  header nav ul {
    display: none;
  }

  nav {
    display: flex;
    position: relative;
    right: 10px;
    align-items: center;
    justify-content: flex-end;
    height: 45px;
  }

  .burgerContainer {
    cursor: pointer;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0px;
  }

  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }

  .change .bar2 {
    opacity: 0;
  }

  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
}

/* --------------Landscape Small--------------*/
@media screen and (orientation: landscape) and (max-width: 768px) {
  path {
    transform: scale(.9) translate(-45%, 0%);
  }

  text {
    font-size: 38px;
  }
}

/* --------------Portrait Large--------------*/
@media screen and (orientation: portrait) and (max-width: 1024px) {
  path {
    transform: scale(.5);
  }

  text {
    font-size: 38px;
  }

  p {
    font-size: 24px;
  }

  header {
    height: 45px;
  }

  header nav ul {
    display: none;
  }

  nav {
    display: flex;
    position: relative;
    right: 10px;
    align-items: center;
    justify-content: flex-end;
    height: 45px;
  }

  nav ul li:hover~li:nth-child(n + 1),
  ul li:has(~ li:hover) {
    opacity: 1;
    font-size: 16px;
  }

  .burgerContainer {
    cursor: pointer;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0px;
    transition: 0.4s
  }

  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }

  .change .bar2 {
    opacity: 0;
  }

  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

  .modules {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }

  .modules h1 {
    font-size: 1.8rem;
  }

  .modules .cardText {
    padding: 10px;
  }

  .modules img {
    max-width: 255px;
    height: auto;
  }

  .modules img {
    display: block;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    height: auto;
    object-fit: contain;
  }
}

/* --------------Portrait small--------------*/
@media screen and (orientation: portrait) and (max-width: 430px) {
  path {
    transform: scale(.5);
  }

  text {
    font-size: 38px;
  }

  p {
    font-size: 24px;
  }

  header {
    height: 45px;
  }

  header nav ul {
    display: none;
  }

  .modules {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .modules .cardText {
    padding: 10px;
  }

  .modules img {
    max-width: 255px;
    height: auto;
  }
}