/* --------------Document Styles--------------*/
* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(247, 244, 233, 1);
}

h1 {
  font-size: 72px;
  padding: 10px;
}

p {
  font-size: 24px;
  padding: 10px;
}

a {
  color: rgb(8, 56, 41);
  text-decoration: none;
  font-weight: 700;
}

/* --------------Header Section-------------- */
header {
  display: block;
  position: relative;
  background-color: rgba(247, 244, 233, 1);
  height: 80px;
  width: 100%;
  transition: all 3s;
}

nav {
  height: 80px;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 80px;
  margin-right: 80px;
  height: 100%;
}

nav ul li {
  position: relative;
  display: inline;
  padding: 8px;
  font-size: 20px;
  transition: font-size .4s, filter .4s;
  min-width: 180px;
  text-align: center;
}

nav ul li:hover {
  position: relative;
  border-top: 4px solid #083829;
  border-bottom: 4px solid #083829;
  border-radius: 15px;
  border-style: double;
  font-size: 28px;
  transition: font-size .4s, filter .4s;
  padding: 8px 8px;
}

nav ul li:hover~li:nth-child(n + 1),
ul li:has(~ li:hover) {
  opacity: .6;
  font-size: 16px;
  transition: all .4s;
}

nav ul li a:active {
  color: rgb(17, 44, 92);
}



/* --------------Main Content-------------- */
main {
  margin: 20px;
  padding: 15px;
  border-radius: 1em;
  border: 2px solid rgba(0, 0, 0, .2);
  box-shadow: 0px 0px 12.5px 2px rgba(0, 0, 0, 0.2);
  transition: display 3s;
  transition: opacity 3s;
}

main h1 {
  text-align: center;
  margin: 10px;
  background-color: rgba(8, 56, 41, 1);
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  transform: skew(-20deg)
}

/* --------------Content Cards-------------- */
.aboutMe {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  justify-content: center;
  align-content: center;
  transition: all 3s;
}

.aboutMeCard {
  display: grid;
  grid-template: 2.5fr 2.5fr 1fr / 5fr 3fr;
  justify-items: center;
  position: relative;
  height: 100%;
  max-width: 100%;
  margin: 10px;
  padding: 8px;
  border-color: rgba(0, 0, 0, 0.3);
  background-color: rgba(18, 53, 36, 1);
  background-image: linear-gradient(to top, rgba(18, 53, 36, 1), 35%, white);
  border-style: solid;
  border-width: 0 2px 2px 2px;
  border-radius: 8px;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
}

.aboutMeCard::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 1px;
  right: 0px;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-top: 8px solid rgb(102, 70, 22);
  border-image: linear-gradient(to right, rgb(102, 70, 22), rgba(255, 255, 255, 1)) 1;
}

.aboutMeCard .cardText {
  justify-self: start;
  margin: 10px;
  grid-area: 1 / 1 / span 3 / span 1;
  padding: 20px;
  min-width: 40%;
}

.aboutMeCard img {
  grid-area: 1 / 2 / span 2 / span 2;
  padding: 20px 10px;
  max-width: 500px;
  min-width: 275px;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.aboutMeCard aside {
  justify-self: center;
  color: white;
  grid-area: 3 / 2 / span 1 / span 1;
}

.socialMediaLinks {
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  max-width: 100%;
  margin: 10px;
  padding: 2px;
  border-color: rgba(0, 0, 0, 0.3);
  border-style: solid;
  border-width: 0 2px 2px 2px;
  border-radius: 8px;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
  background-color: rgba(8, 56, 41, 1);
}

.socialMediaLinks img {
  width: auto;
  height: 50px;
}

/* --------------Footer Section-------------- */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(247, 244, 233, 1);
  color: black;
  height: 45px;
  width: 100%;
  margin-top: auto;
  text-align: center;
}







/* --------------Loading Animation Screen Styles--------------*/
svg {
  background-color: black;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 10;
  transition: all 2s;
}

path {
  stroke-dasharray: 6000;
  stroke-dashoffset: 6000;
  animation: followpath 8s linear forwards;
}

.loadingText {
  font-size: 72px;
  animation: colourChange 8s linear forwards;
}

.skipButton {
  stroke: #083829;
  stroke-width: 3px;
  filter: drop-shadow(0 0 10px #EBDFC8);
  z-index: 8;
}

.skipButton:hover {
  transition: stroke-width 1s, r .5s;
  stroke-width: 5px;
  r: 55;
}

.skipButton:not(:hover) {
  transition: r 2s;
  r: 45;
}

.skipButton:active {
  transition: stroke-width 0s, r 0s;
  stroke-width: 3px;
  r: 44;
}

.skipText {
  filter: drop-shadow(0 0 2px #083829);
}



/* --------------Loading Animation Path Keyframes --------------*/
@keyframes followpath {
  0% {
    filter: drop-shadow(0 0 1px rgb(0, 217, 255));
  }

  15% {
    filter: drop-shadow(0 0 1px rgb(9, 255, 0));
  }

  30% {
    filter: drop-shadow(0 0 1px rgb(255, 251, 0));
  }

  40% {
    filter: drop-shadow(0 0 1px rgb(255, 0, 0));
    stroke-width: 5;
  }

  50% {
    filter: drop-shadow(0 0 1px rgb(225, 0, 255));
    stroke-dashoffset: 0;
    stroke-width: 10;
    stroke: black;
  }

  70% {
    stroke: rgb(0, 217, 255);
    stroke-dashoffset: 0;
    stroke-width: 65;
    filter: drop-shadow(0 0 50px rgb(0, 217, 255));
    offset-distance: 100%;
    opacity: 100%;
  }

  75% {
    stroke-width: 63;
  }

  80% {
    stroke-width: 61;
  }

  90% {
    stroke-width: 58;
  }

  100% {
    stroke: rgb(0, 217, 255);
    stroke-dashoffset: 0;
    stroke-width: 55;
    filter: drop-shadow(0 0 50px rgb(0, 217, 255));
    offset-distance: 100%;
    opacity: 0%;
  }
}



/* --------------Loading Animation Colour Change Keyframes--------------*/
@keyframes colourChange {
  0% {
    fill: rgb(0, 217, 255)
  }

  15% {
    fill: rgb(9, 255, 0);
  }

  30% {
    fill: rgb(255, 251, 0);
  }

  40% {
    fill: rgb(255, 0, 0);
  }

  50% {
    fill: rgb(225, 0, 255);
  }

  70% {
    opacity: 100%;
  }

  75% {
    fill: rgb(255, 255, 255);
  }

  80% {
    opacity: 100%;
  }

  100% {
    fill: rgb(255, 255, 255);
    opacity: 0%;
  }
}









/* --------------Style Classes--------------*/
.hidden {
  display: none;
}

.visibilityHidden {
  opacity: 0%;
}


/* --------------Media Queries-------------- */
/* --------------Tablet Landscape--------------*/
@media screen and (orientation: landscape) and (max-width: 1366px) {
  svg {
    margin: 0 auto;
  }

  text {
    font-size: 38px;
  }

  p {
    font-size: 24px;
  }

  .socialMediaLinks img {
    width: 70px;
    height: 70px;
  }

  .socialMediaLinks img[alt="LinkedIn Logo"] {
    width: 75px;
    height: 70px;
  }
}

/* --------------Large Phone Landscape--------------*/
@media screen and (orientation: landscape) and (max-width: 932px) {
  path {
    transform: translate(-56%, -0%);
  }

  text {
    font-size: 38px;
  }

  header nav ul {
    display: none;
  }
}

/* --------------Medium Phone Landscape--------------*/
@media screen and (orientation: landscape) and (max-width: 768px) {
  path {
    transform: scale(.9) translate(-45%, 0%);
  }

  text {
    font-size: 38px;
  }
}

/* --------------Tablet Portrait--------------*/
@media screen and (orientation: portrait) and (max-width: 1024px) {
  path {
    transform: scale(.5);
  }

  text {
    font-size: 38px;
  }

  p {
    font-size: 24px;
  }

  header {
    height: 45px;
  }

  header nav ul {
    display: none;
  }

  .aboutMeCard {
    display: flex;
    flex-wrap: wrap;
  }

  .aboutMeCard .cardText {
    padding: 10px;
  }

  .aboutMeCard img {
    max-width: 255px;
    height: auto;
    padding: 0px;
  }
}