/* --------------Document Styles--------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* --------------Loading Screen Styles--------------*/
svg {
  background-color: black;
  position: absolute;
  display: block;
  padding: 10px;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.skipButton {
  stroke: #083829;
  stroke-width: 3px;
  filter: drop-shadow(0 0 10px #EBDFC8);
  z-index: 8;
}

.skipButton:hover {
  transition: stroke-width 1s, r, 1s;
  stroke-width: 5px;
  r: 50;
}

.skipButton:active {
  transition: stroke-width 0s, r 0s;
  stroke-width: 3px;
  r: 44;
}

.skipText {
  filter: drop-shadow(0 0 2px #083829);
}

path {
  stroke-dasharray: 6000;
  stroke-dashoffset: 6000;
  animation: followpath 12s linear forwards;
}

.loadingText {
  font-size: 72px;
  animation: colourChange 12s linear forwards;
}

/* --------------Loading Animation Path Keyframes --------------*/
@keyframes followpath {
  0% {
    filter: drop-shadow(0 0 1px rgb(0, 217, 255));
  }

  15% {
    filter: drop-shadow(0 0 1px rgb(9, 255, 0));
  }

  30% {
    filter: drop-shadow(0 0 1px rgb(255, 251, 0));
  }

  40% {
    filter: drop-shadow(0 0 1px rgb(255, 0, 0));
    stroke-width: 5;
  }

  50% {
    filter: drop-shadow(0 0 1px rgb(225, 0, 255));
    stroke-dashoffset: 0;
    stroke-width: 10;
    stroke: black;
  }

  70% {
    stroke: rgb(0, 217, 255);
    stroke-dashoffset: 0;
    stroke-width: 65;
    filter: drop-shadow(0 0 50px rgb(0, 217, 255));
    offset-distance: 100%;
    opacity: 100%;
  }

  75% {
    stroke-width: 63;
  }

  80% {
    stroke-width: 61;
  }

  90% {
    stroke-width: 58;
  }

  100% {
    stroke: rgb(0, 217, 255);
    stroke-dashoffset: 0;
    stroke-width: 55;
    filter: drop-shadow(0 0 50px rgb(0, 217, 255));
    offset-distance: 100%;
    opacity: 0%;
  }
}

/* --------------Loading Animation Colour Change Keyframes--------------*/
@keyframes colourChange {
  0% {
    fill: rgb(0, 217, 255)
  }

  15% {
    fill: rgb(9, 255, 0);
  }

  30% {
    fill: rgb(255, 251, 0);
  }

  40% {
    fill: rgb(255, 0, 0);
  }

  50% {
    fill: rgb(225, 0, 255);
  }

  70% {
    opacity: 100%;
  }

  75% {
    fill: rgb(255, 255, 255);
  }

  80% {
    opacity: 100%;
  }

  100% {
    fill: rgb(255, 255, 255);
    opacity: 0%;
  }
}

/* --------------Header Section-------------- */
h1 {
  font-size: 72px;
  margin: 20px;
  color: #EBDFC8;
}

header {
  position: relative;
  background-color: #EBDFC8;
  height: 50px;
  width: 100%;
  box-shadow: 0px 3px 4px black;
  
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header li {
  display: inline;
  padding: 1rem;
  color: #083829;
}

main {
  position: relative;
  margin-left: 2.6%;
  margin-right: 2.6%;
  background-color: #083829;
}

p {
  color: #EBDFC8;

}


/* --------------Responsive Design-------------- */
/* --------------Tablet Landscape--------------*/
@media screen and (orientation: landscape) and (max-width: 1366px) {
  svg {
    margin: 0 auto;
    padding-top: 10%;
  }

  path {
    transform: scale(.75);
  }

  textPath {
    transform: scale(.75);
  }

  text {
    font-size: 42px;
  }
}

/* --------------Tablet Portrait--------------*/
@media screen and (orientation: portrait) and (max-width: 1024px) {
  svg {
    display: none;
  }

  body {
    background-color: #001F00;
  }
}

/* --------------Large Phone Landscape--------------*/
@media screen and (orientation: landscape) and (max-width: 932px) {
  svg {
    display: none;
  }

  body {
    background-color: #001F00;
  }
}

/* --------------Large Phone Portrait--------------*/
@media screen and (orientation: portrait) and (max-width: 510px) {
  svg {
    display: none;
  }

  body {
    background-color: #001F00;
  }
}

/* --------------Medium Phone Landscape--------------*/
@media screen and (orientation: landscape) and (max-width: 768px) {
  svg {
    display: none;
  }

  body {
    background-color: #001F00;
  }
}

/* --------------Medium Phone Portrait--------------*/
@media screen and (orientation: portrait) and (max-width: 320px) {
  svg {
    display: none;
  }

  body {
    background-color: #001F00;
  }
}